* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    border: 1px solid red;
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header > .item {
    margin: 0px 10px 0px 10px;
}


.settings {
    border: 1px solid purple;
    margin: auto;
    flex: 1;
}


.chat-container {
    border: 1px solid green;
    margin: 0px 0 0 30px;

}

.message-sent {
    border: 2px solid gray;
    text-align: left;
    padding: 2px;
    margin: 5px;
}

.message-received {
    border: 2px solid blue;
    text-align: left;
    padding: 2px;
    margin: 5px;
}