/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family:sans-serif;
    font-size:16px;
}

input, button, select, textarea {
    padding: 5px;
    margin:2px;
    border-radius: 10px;
    border-width:0px;
    font-size:16px;
}

input, textarea {
    border: 1px solid grey;
}

.container {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    border: 1px solid red;
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.header > .item {
    margin: 0px 10px 0px 10px;
}


.settings {
    border: 1px solid purple;
    margin: auto;
    flex: 1;
}


.form-group {
    display:flex;
}

#user-prompt {
    width:100%;
}


.chat-container {
    border: 1px solid rgb(31, 230, 31);
    margin: 0px 30px 30px 30px;

}

.message-sent {
    border: 2px solid gray;
    text-align: left;
    padding: 2px;
    margin: 5px;
}

.message-received {
    border: 2px solid blue;
    text-align: left;
    padding: 2px;
    margin: 5px;
} */