/* layout */

html,body {
    height: 100%;
}


/* have the send message footer stick to the bottom */
body > footer {
    position: sticky;
    top: 100%;
}



/* style */

.hidden {
    display:none;
}

header > section {
    padding:10px;
}


.message {
    border-radius:25px;
}

.message-received {
    margin-left:40px;
}

pre {
    white-space: pre-wrap;
}

section {
    border-bottom: 1px dashed var(--pico-color-zinc-100);
}

/* remove extra margin around paragraphs in chat frames */
article > p {
    margin:0;
}
